<template>
    <v-container>
        <v-carousel
                max-height="100%"
                max-width="50%"
                class="my-auto"
                hide-delimiter-background
                hide-delimiters
                interval="2000"
                :show-arrows="false"
                cycle
                continuous
        >
            <v-carousel-item v-for="(image, i) in images" :key="i">
                <v-row>
                    <v-col cols="4">
                        <v-hover v-slot:default="{ hover }">
                            <v-card light height="100%">
                                <v-img
                                        :src="image.one"
                                        height="100%"

                                >
                                    <v-expand-transition>
                                        <div
                                                v-if="hover"
                                                class="d-flex transition-fast-in-fast-out white--text v-card--reveal"
                                        >
                                            <p
                                                    v-if="hover"
                                                    class="transition-fast-in-fast-out white--text logo-name"
                                            >{{image.title1}}</p>
                                        </div>
                                    </v-expand-transition>
                                </v-img>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="4">
                        <v-hover v-slot:default="{ hover }">
                            <v-card light height="100%">
                                <v-img
                                        :src="image.two"
                                        height="100%"
                                >
                                    <v-expand-transition>
                                        <div
                                                v-if="hover"
                                                class="d-flex transition-fast-in-fast-out v-card--reveal white--text"
                                        >
                                            <p
                                                    v-if="hover"
                                                    class="transition-fast-in-fast-out white--text light logo-name"
                                            >{{image.title2}}</p>
                                        </div>
                                    </v-expand-transition>
                                </v-img>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="4">
                        <v-hover v-slot:default="{ hover }">
                            <v-card light height="100%">
                                <v-img
                                        :src="image.three"
                                        height="100%"
                                >
                                    <v-expand-transition>
                                        <div
                                                v-if="hover"
                                                class="d-flex transition-fast-in-fast-out v-card--reveal white--text"
                                        >
                                            <p
                                                    v-if="hover"
                                                    class="transition-fast-in-fast-out white--text light logo-name"
                                            >{{image.title3}}</p>
                                        </div>
                                    </v-expand-transition>
                                </v-img>
                            </v-card>
                        </v-hover>
                    </v-col>
                </v-row>
            </v-carousel-item>
        </v-carousel>
    </v-container>
</template>


<script>
    export default {
        name: "Carousel",

        data: () => {
            return {
                model: null,
                images: [
                    {
                        one: require("../assets/bp_logo.svg"),
                        two: require("../assets/brisk_logo.svg"),
                        three: require("../assets/checkout_logo.png"),
                        title1: "BP",
                        title2: "Brisk Marketing",
                        title3: "Checkout"
                    },
                    {
                        one: require("@/assets/leta_drinks_gold.png"),
                        two: require("@/assets/qikapu_logo.png"),
                        three: require("@/assets/bp_logo.svg"),
                        title1: "Leta Drinks",
                        title2: "Qikapu",
                        title3: "BP"
                    },
                    {
                        one: require("@/assets/brisk_logo.svg"),
                        two: require("@/assets/checkout_logo.png"),
                        three: require("@/assets/leta_drinks_gold.png"),
                        title1: "Brisk Marketing",
                        title2: "Checkout",
                        title3: "Leta Drinks"
                    }
                ]
            };
        }
    };
</script>

<style>
    .v-card--reveal {
        bottom: 0;
        left: 0;
        text-align: center;
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: grey;
    }

    .logo-name {
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 900;
        color: white;
        position: absolute;
    }
</style>
