<template>
    <v-card>
        <Carousel/>
    </v-card>
</template>

<script>
    import Carousel from './components/Carousel';

    export default {
        name: 'App',

        components: {
            Carousel,
        },

        data: () => {
            return {}
        },
    }
</script>
